repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.3
    hooks:
      - id: ruff-format
  - repo: https://github.com/crate-ci/typos
    rev: v1.24.3
    hooks:
      - id: typos
        args:
          - --force-exclude
          - --hidden
          - --locale=en-gb
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort-fix
        args:
          - --all
          - --in-place
          - --spaces-indent-inline-array=4
          - --trailing-comma-inline-array
