.navbar-brand:after {
    content: "GLASS";
    color: var(--pst-color-primary);
    font-size: 1.3em;
    font-weight: 200;
    font-stretch: 110%;
    letter-spacing: .1em;
    line-height: 1;
    vertical-align: middle;
    margin-left: 0.2em;
}
