.navbar-brand:after {
    content: "GLASS";
    color: var(--pst-color-primary);
    font-size: 1.3em;
    font-weight: 200;
    font-stretch: 110%;
    letter-spacing: .1em;
    line-height: 1;
    vertical-align: middle;
    margin-left: 0.2em;
}

.bd-header .navbar-nav li a.nav-link.nav-external {
    color: var(--pst-color-secondary);
    opacity: 0.8;
}

.bd-header .navbar-nav li a.nav-link.nav-external:hover {
    opacity: 1.0;
}
