on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: pipx run build
      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz
