---
name: Regression tests

on:
  pull_request:
    paths:
      - .github/workflows/regression-test.yaml
      - glass/**
      - noxfile.py
      - pyproject.toml
      - tests/benchmarks/**
      - tests/conftest.py
    branches:
      - main
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

jobs:
  regression-tests:
    if: github.event.pull_request.draft == false
    name: Regression test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - name: Checkout source
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache nox
        uses: actions/cache@v4
        with:
          key:
            regression-${{ hashFiles('pyproject.toml') }}-${{
            hashFiles('noxfile.py') }}-${{ env.pythonLocation }}
          path: .nox

      - name: Install only dev dependencies
        run: uv sync --only-dev

      - name: Run regression test
        run: >-
          uv run nox -s regression_tests-${{ matrix.python-version }} --
          "$BASE_REF" "$HEAD_REF"
        env:
          ARRAY_BACKEND: all
          BASE_REF: ${{ github.event.pull_request.base.ref }}
          HEAD_REF: ${{ github.event.pull_request.head.ref }}
          FORCE_COLOR: 1
