---
name: Trigger regression test Workflow

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Workflow in Another Repository
        env:
          STARTING_REVISION: ${{github.event.pull_request.base.ref}}
          END_REVISION: ${{github.ref_name}}
        run: |
          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/glass-dev/glass-benchmarks/actions/workflows/regression-test/dispatches \
            -f 'ref=v0' \
            -f 'inputs[starting_revision]=$STARTING_REVISION' \
            -f 'inputs[end_revision]=$END_REVISION'
