---
name: Regression tests

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

jobs:
  regression-tests:
    if: github.event.pull_request.draft == false
    uses: glass-dev/glass-benchmarks/.github/workflows/regression-test.yaml@v0
    with:
      starting_revision: ${{ github.event.pull_request.base.ref }}
      end_revision: ${{ github.event.pull_request.head.ref }}
