---
name: Test examples

on:
  pull_request:
    types:
      - labeled
      - opened
      - reopened
      - synchronize
      - unlabeled

jobs:
  test-examples-on-label:
    if: >-
      github.event.pull_request.draft == false &&
      contains(github.event.pull_request.labels.*.name, 'run-examples')
    name: On label
    uses: ./.github/workflows/run-examples.yaml
