---
name: Test examples

on:
  push:
    paths:
      - glass/**
      - examples/**
    branches:
      - main
  pull_request:
    paths:
      - .github/workflows/run-examples.yml
      - examples/**
      - glass/**
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

jobs:
  test-examples-on-push:
    if: github.event.pull_request.draft == false
    name: On push
    uses: ./.github/workflows/run-examples.yml
